<!DOCTYPE HTML>

<html>
	<head>
		@await Html.PartialAsync("MetaTagsPartial")
        @await Html.PartialAsync("CssPartial")
	</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">
			
            @await Html.PartialAsync("HeaderPartial")
			
            <!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">Right Sidebar</div>
					<div class="container">
						<div class="row gtr-150">
							<div class="col-8 col-12-medium">

								<!-- Content -->
									@RenderBody()

							</div>
							<div class="col-4 col-12-medium">

                                @await Html.PartialAsync("SidebarPartial")
							</div>
						</div>
					</div>
				</section>

			<!-- Highlights -->
				<!--<section id="highlights" class="wrapper style3">
					<div class="title">The Endorsements</div>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<h3><a href="#">Aliquam diam consequat</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<h3><a href="#">Mattis tempus lorem</a></h3>
									<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</section>-->
            @await Html.PartialAsync("FooterPartial")

			
		</div>
    @await Html.PartialAsync("ScriptsPartial")
		

	</body>
</html>