<!-- Footer -->
<section id="footer">
    <div class="container">
        <div id="copyright">
            <ul>
                <li>&copy; @Config.CompanyName </li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
</section>
